.tabs {
    background-color: transparent;
}


.tabs__label {
    padding-bottom: 8px;
    margin-right: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--grey-3);
}


.tabs input[type="radio"] {
    display: none;
}

.tabs__label:hover, .tabs__label:active, .tabs__label:focus, .tabs__label > input:checked + label {
    text-decoration: underline;
  }