.button {
    margin: 0 auto;
    padding: 15px 66px;
    height: 48px;
    border-radius: 8px;
    border: none;
    font-family: 'Roboto', sans-serif;
    line-height: 18.75px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: opacity 200ms ease-in-out, background-color 200ms ease-in-out;
}

.button:disabled {
    transition: none;
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
}

.button_primary {
    color: var(--white);
    background-color: var(--blue-2);
}

.button_primary:hover {
    background-color: var(--blue-3);
}

.button_secondary {
    color: var(--white);
    background-color: var(--purple-1);
}

.button_secondary:hover {
    background-color: var(--purple-2);
}

.button_alternate {
    border: 1px solid var(--grey-3);
    background-color: var(--white);
    color: var(--grey-4);
}

.button_alternate:hover {
    border: 1px solid var(--black);
}