.card {
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(33, 36, 41, 0.05);
}

.card__button {
    margin-top: 34px;
    grid-column: 1/-1;
    text-align: center;
}

.card__component {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__heading {
    margin: 0;
    padding-bottom: 6px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--black);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__subtitle {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--grey-3);
}


.card__atom, .card__molecule, .card__organism {
    display: none;
}

#allComponents:checked ~ .preview__cards .card {
    display: flex;
}

#atoms:checked ~ .preview__cards .card__atom {
    display: flex;
}

#molecules:checked ~ .preview__cards .card__molecule {
    display: flex;
}

#organisms:checked ~ .preview__cards .card__organism {
    display: flex;
}
  
@media (min-width: 900px) {
    .card__heading {
        font-family: 'Roboto', sans-serif;
        font-size: 21px;
        font-weight: 500;
    }

    .card__subtitle {
        font-size: 16px;
        line-height: 18px;
        color: var(--grey-4);
    }
}