.accordion {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 730px;
    color: var(--black);
}

.accordion__details {
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid var(--grey-3);
}

.accordion__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    height: 72px;
}

.accordion__summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
    display: none;
}

.accordion__details[open] .accordion__summary .accordion__arrow {
    transform: rotate(180deg);
}

.accordion__summary .accordion__arrow {
    transition: transform 0.3s;
}

.accordion__arrow {
    width: 16px;
    height: 8px;
}

.accordion__text {
    margin: 0 32px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}