@import '../fonts/fonts.css';
@import '../../components/page/page.css';
@import '../../components/preview/preview.css';
@import '../../components/container/container.css';
@import '../../components/card/card.css';
@import '../../components/header/header.css';
@import '../../components/footer/footer.css';

@import '../vendor/normalize.css';
@import '../../03-lection1/01-button/button.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple-1: #7048E8;
    --purple-2: #5028C6;
    --blue-1: #4263EB;
    --blue-2: #374FC7;
    --blue-3: #2342C0;
    --blue-4: #334D6E;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #90A0B7;
    --grey-6: #A0B1F5;
    --grey-7: #C4C4C4;
    --oxford-blue: #334D6E;


    --error: var(--red);
    --success: var(--blue-2);

    --primary: var(--blue-2);
    --secondary: var(--purple-1);

}

* {
    font-family: 'Inter', 'Roboto', sans-serif;
}

/* html, body {
    height: 100vh;
} */
