.tooltip {
    display: inline-block;
    position: relative;
    text-align: center;
}

.tooltip__bubble {
    display: none;
    padding: 12px 21px;
    border-radius: 10px;
    background-color: var(--blue-1);
    color: var(--white);
    box-shadow: 0 2px 4px 0 rgba(33, 36, 41, 0.05);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    bottom: calc(100% + 12px);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip__bubble:before {
    content: "";
    border: 10px solid transparent;
    border-top-color: var(--blue-1);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip__icon {
    color: var(--blue-1);
    width: 24px;
    height: 24px;
}

.tooltip__trigger {
    cursor: pointer;
    position: relative;
}

.tooltip__trigger:hover~.tooltip__bubble {
    display: block;
}