.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.checkbox {
    display: inline-flex;
    position: relative;
}

.checkbox__input {
    position: absolute;
    left: -100vW;
    opacity: 0;
}

.checkbox__state {
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.checkbox__control {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    border: 1px solid var(--grey-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox__icon {
    color: var(--white);
    width: 11.5px;
    height: 9px;
}

.checkbox__label {
    color: var(--grey-4);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Inter';
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    border-color: var(--blue-1);
    background-color: var(--blue-1);
}

.checkbox__input:focus ~ .checkbox__state .checkbox__label {
    text-decoration: underline;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
    border-color: var(--grey-2);
    background-color: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__icon {
    visibility: hidden;
}