.image {
    width: 100vw;
    height: 100vh;
    background: url(public/forest_400.jpg) center no-repeat;
    background-size: contain;
}

@media screen and (min-width: 768px) {
    .image {
        background: url(public/forest_768.jpg) center no-repeat;
    }
}

@media screen and (min-width: 1024px) {
    .image {
        background: url(public/forest_1024.jpg) center no-repeat;
    }
}

@media screen and (min-width: 2560px) {
    .image {
        background: url(public/forest_2560.jpg) center no-repeat;
    }
}