.preview {
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 64px;

}


.preview__cards {
    width: 100vw;
    background-color: blue;
    padding-top: 68px;
    padding-bottom: 92px;
    margin-top: 11px;
    display: grid;
    grid-template-columns: repeat(3, minmax(164px, 350px));
    grid-template-rows: repeat(2, 367px);
    justify-content: center;
    gap: 16px;
}

.preview__title {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
}
