.input {
    box-sizing: border-box;
    position: relative;
}

.input__field {
    width: 350px;
    height: 56px;
    border-radius: 8px;
    border: 1px solid var(--grey-2);
}

.input__field_disabled:disabled {
    background-color: var(--grey-2);
}

.input__field_disabled:disabled::placeholder {
    color: var(--white);
}

.input__field:focus {
    outline: 1px solid var(--blue-1);
}

.input__field_success:focus {
    outline: 1px solid var(--grey-2);
}

.input__field_error:focus {
    outline: 1px solid var(--red);
}

.input__field::placeholder {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: var(--grey-2);
}

.input__field:focus::placeholder {
    color: var(--grey-4);
}

.input__field_success::placeholder {
    color: var(--grey-4);
}

.input__field_error::placeholder {
    color: var(--grey-4);
}

.input__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}

.input__icon_success {
    color: var(--blue-2);
}

.input__icon_error {
    color: var(--red);
}