.input {
    position: relative;
    width: 350px;
}

.input__field {
    box-sizing: border-box;
    padding: 16px 24px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--grey-2);
}

.input__field:disabled {
    background-color: var(--grey-2);
}

.input__field:disabled::placeholder {
    color: var(--white);
}

.input__field:focus {
    outline: 1px solid var(--blue-1);
}

.input__field::placeholder {
    color: var(--grey-2);
}

.input__field:focus::placeholder {
    color: var(--grey-4);
}

.input__icon {
    display: none;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}

.input_success {
    color: var(--blue-2);
}

.input_success .input__field:focus {
    outline: 1px solid var(--blue-2);
}

.input_success .input__field:focus + .input__icon,
.input_error .input__field:focus + .input__icon {
    display: block;
}

.input_error {
    color: var(--red);
}

.input_error .input__field:focus {
    outline: 1px solid var(--red);
}